footer {
    text-align: center;
    background-color: #870CD9;
    height: 400px;
    margin-top: 250px;
}

.subscribe {
    font-family: Raleway;
    color: white;
    padding-top: 50px;
}

.subscribe-offers {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#email {
    border: 2px solid black;
    background-color: #870CD9;
    height: 45px;
    width: 300px;
}

::placeholder {
    color: white;
}

.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Bangers;
    color: white;
    height: 45px;
    width: 190px;
    background-color: #CD37E2;
}

.subscribe-button p {
    padding-top: 18px;
    font-size: 25px;
}

.email-message {
    padding-top: 40px;
}

.email-message h2 {
    font-family: Bangers;
    color: white;
    padding-top: 34px;
    font-size: 37px;
}

.email-message p {
    font-family: Raleway;
    color: white;
    padding-top: 6px;
}

.copyright {
    padding-top: 59px;
}

.copyright p {
    font-family: Bangers;
    color: white;
    font-size: 23px;
}