nav {
    background-color: #6400A7;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    font-family: Raleway;
    font-size: 20px;
    text-decoration: none;
    color: white;
}